body {
  height: 1000vh;
  background-color: lightsteelblue;
}
.parent, .parent2, .parent3, .parent4 {
  position: absolute;
  font-family: monospace;
  font-size: 100px;
  color: lightslategray;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

span {
  display: block;
  position: relative;
  padding: 0 10px;
  float: left;
}

.parent2, .parent4 {
  top: 45%;
  color: cornflowerblue;
}
.parent3 {
  top: 65%;
  color: salmon;
}
.parent4 {
  top: 125%;
}
